{% extends "base.html" %}
{% block title %}
  Balance Report
{% endblock title %}
{% block contents %}
  Hello <span style="color:blue;"> {{ UserName }}</span>. You have
    {% if userfriends_Number == 0%}
      You have <span style="color:red;"> No </span> Friends. <a href= {% url 'dongy_addFriend' %}> Add at least One Friend </a>
    {% else %}
      {% if NumberOfPayments == 0 %}
          You Have {{userfriends_Number }} friends. But Unfortunately
          <span style="color:red;"> No </span> Payments. add <a href= {% url 'dongy_equalform' %}> Add at least One Payment </a>.
      {% else %}
          <span style="color:blue;"> {{ NumberOfPayments }} </span> Payments.
      {% endif %}
    {% endif %}

    <hr>
    <ul>
    {% for UserBalancesName,UserBalancesVal in UserBalances.items %}
      <li> Name: <span style="color:blue;"> {{ UserBalancesName }} </span>. Balance:  {{ UserBalancesVal }}
      </li>
      <br>
    {% endfor%}
    </ul>
    <hr>
{% endblock contents %}
