{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block contents %}

  Hello <span style="color:blue;"> {{ UserName }}</span>
  {% if new_context != None and new_context != False %}
    <span class="message"> You added {{new_context}} as your new friend successfully. </span> <br>
  {% elif new_context == False  %}
    <span class="warning"> Sorry! You entered this name before. </span> <br>
  {% endif %}
    {% if Friends_Number == 0%}
      <br> <a href="{% url 'dongy_addFriend' %}" >Add a friend first! </a>
    {% else %}
    <hr>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="submit"/>
    </form>
    {% endif %}
{% endblock contents %}
