{% extends "base.html" %}
{% block title %}
  Dongy Costs
{% endblock title %}
{% block contents %}
  Hello <span style="color:blue;"> {{ UserName }}</span>. You have
    {% if Friends_Number == 0 %}
        <span style="color:red;"> No </span> Friends. So Please
        <a href= {% url 'dongy_addFriend' %}> See Add Friends Page </a>
    {% else %}
        <span style="color:blue;"> {{ Friends_Number }} </span> Friends.
        <hr>
        <ul>
          <li>
            <a href= {% url 'dongy_addFriend' %}> Add Another Friend </a>
          </li>
          <li>
            <a href= {% url 'dongy_equalform' %}> Add Another Payment </a>
          </li>
          <li>
            <a href= {% url 'dongy_list' %}> See List of Payments </a>
          </li>
          <li>
            <a href= {{ request.path|add:"balance"}}> See Balances </a>
          </li>
        </ul>
    {% endif %}
    <hr>
{% endblock contents %}
