body {
	background-color:#fff;
}
li{
	display: inline-block;
}
.row {
	padding-left: 15px;
}
.navbar {
	 margin: 10px; */
}
.navbar  li {
	padding-right: 2px;
	padding-left: 2px;
}
.navbar  li ::after {
	content: "|";
}
.logo {
	text-align: center;
	margin-top: 30px;
}
.navbaritems{
	margin-top: 50px;
}
.mainrow{
	padding-left: 50px;
	text-align: left;
}
